<div class="register-card">
  <form (submit)="onSubmit()">
    <h2>Register</h2>
    <label for="email">Email</label>
    <input type="email" name="email" [(ngModel)]="email" />

    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="password" />

    <p class="register-error" *ngIf="registerError">
      {{ registerError }}
    </p>

    <button type="submit">Register</button>

    <p class="login-link">
      Already have an account?
      <a routerLink="/">Login</a>
    </p>
  </form>
</div>


